
body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f5f2e9; 
    color: #3a3a3a; 
    margin: 0;
    padding: 0;
}

.titulo {
    background-color: #ac8b5d; 
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 2.5rem; 
    border-bottom: 4px solid #d4b79e; 
}

.contenedor-navbar {
    background-color: #d4b79e; 
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.nav-enlaces a {
    color: white; 
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.1rem; 
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.nav-enlaces a:hover {
    background-color: #ac8b5d; 
    transform: scale(1.05); 
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; 
}

.card {
    background-color: #fff; 
    border-radius: 10px;
    overflow: hidden;
    width: calc(33% - 20px); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.card:hover {
    transform: translateY(-5px); 
}

.producto-card {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.producto-descripcion {
    padding: 15px;
    background-color: #f9f9f9; 
    font-size: 1rem; 
}

.producto-boton {
    background-color: #e58d3a; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto-boton:hover {
    background-color: #d77f2c; 
}

.seccion-footer {
    background-color: #ac8b5d; 
    color: white;
    padding: 20px;
    text-align: center;
}

.lista-footer {
    margin: 20px 0;
}

.lista-footer a {
    color: lightgray; 
    text-decoration: none;
}

.lista-footer a:hover {
    color: white; 
}

.firma {
    text-align: center;
    padding: 10px;
    background-color: #d4b79e; 
    color: white;
}


.card-categorias {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-categorias div {
    background-color: #F8F9FA; 
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex: 1; 
    margin: 0 10px; 
}

.card-categorias img {
    width: 100%; 
    border-radius: 10px; 
}


.seccion-nosotros {
    background-color: #EDEDED; 
    padding: 20px;
}

.imagen-nosotros {
    margin: 20px 0; 
}

.imagen-nosotros img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 10px; 
    display: block; 
    margin: 0 auto; 
}


.titulo-categorias {
    font-family: 'Roboto', cursive; 
    font-size: 2.5rem; 
    text-align: center;
    margin: 20px 0; 
    color: #e58d3a; 
}